.wrapper {
    margin-top: 6.5rem;
}

.portfolioBox {
    margin-top: 1rem !important;
}

.imgList {
    margin-top: 3rem !important;
    overflow: inherit !important;
}

.imgBox {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.24);
}

.imgBox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: .5s;
    transform: translateY(-5px);
}

.cardInformation {
    display: none;
    transition: .5s;
    width: 100%;
}

.imgBox:hover .cardInformation {
    display: flex;
    align-items: end;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000050;
    transition: .5s;
    color: #fff !important;
}

.cardInformationFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}