.wrapper {
    margin-top: 4.25rem;
}

.portfolioBox {
    margin-top: 1rem !important;
}

.imgList {
    margin-top: 3rem !important;
    overflow: inherit !important;
}

.imgBox {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.24);
}

.imgBox:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .5s;
    transform: translateY(-5px);
}