.wrapperFilters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid #DEDEDE;
}

.firstBox, .lastBox {
    display: flex;
    align-items: center;
}

.iconFirstMainFilter, .iconLastMainFilter {
    width: 1.3rem;
    height: 1.3rem;
}

.iconFirstMainFilter, [dir="left"].iconLastMainFilter {
    margin-left: 1rem;
}

.iconLastMainFilter, [dir="left"].iconFirstMainFilter {
    margin-right: 1rem;
}

.formControlBox {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.formControlBox button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0F0F0;
    color: #979797;
    border-radius: .5rem;
    box-shadow: none !important;
    border: none !important;
    transition: .5s;
}

.formControlBox button:hover, .formControlBox button:hover path, .activeButton {
    background: #ED2224 !important;
    color: #fff;
    fill: #fff;
    box-shadow: 0 1px 1rem 1px #00000020 !important;
}

.formControlSearchBox > div {
    display: flex !important;
    width: max-content;
}

.formControlSelectSearchBox {
    background: #F0F0F0;
    color: #979797;
    border-left: 1px solid #000000 !important;
    border-radius: 0 .5rem .5rem 0;
}

.formControlSelectSearchBox fieldset, .SearchBox fieldset {
    box-shadow: none !important;
    border: none !important;
}

.SearchBox {
    background: #F0F0F0;
    color: #979797;
    border-radius: .5rem 0 0 .5rem !important;
}

.formControlSearchBox div[tabindex="0"], .SearchBox input {
    min-width: 64px !important;
    padding: 5px 15px !important;
}

.iconFree, .iconSubscription {
    margin-right: .5rem;
}

[dir="left"].iconFree, [dir="left"].iconSubscription {
    margin-left: .5rem;
}
