.wrapper {
    background: #F0F0F0;
    padding: 1.5rem 0;
}

.title {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto !important;
    color: #BDBDBD;
    font-weight: 500 !important;
}

.itemDiv {
    width: 100% !important;
    height: 18rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1rem !important;
}

.parentMorBtn {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 1.5rem auto 3rem auto;
}

.moreBtn {
    background: #BDBDBD;
    padding: .75rem 1.5rem;
    color: #fff;
    border-radius: 2.5rem;
}