.containerBox {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 1px 0 1px #00000020;
}

.containerBox:hover {
    box-shadow: 0 1px 1rem 1px #00000020;
    transition: .5s;
    transform: translateY(-5px);
}

.bottomContainerBox {
    padding: 1rem 1.5rem;
}

.title_BCB {

}

.footerBox {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.avatarAndName {
    display: flex;
    align-items: center;
    width: 50%;
}

.avatarBox {
    width: 2rem !important;
    height: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dateBox {
    display: flex;
    align-items: center;
    width: 50%;
}

.dateBox svg {
    width: 1.1rem;
    height: 1.1rem;
}

.dateBox caption, .avatarAndName caption {
    margin: 0 .5rem;
    color: #A8A8A8;
}