.parentImage {
    width: 30vw;
    margin: auto;
}

.textBox {
    margin: 3vw 0;
}

.content {
    line-height: 1.75rem;
    font-size: 14px;
    text-align: justify;
}

.parentSocialMediaIcons img {
    width: 2rem !important;
    height: 2rem !important;
}