.socialMediaWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    max-width: fit-content;
    margin: 0 auto 1.5rem auto;
}

.socialMediaWrapper .iconContainer {
    display: flex;
    align-items: center;
}

.socialMediaWrapper a {
    margin: 0 .25rem;
}

.parentIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #999999;
    padding: .35rem;
    border-radius: .4rem;
    transition: background .5s linear;
}

.iconContainer:nth-child(1) .bgIcon:hover {
    background: linear-gradient(to bottom, #7DB424, #49BDCA, #0F68A0);
}

.iconContainer:nth-child(2) .bgIcon:hover {
    background-color: #29A9EC;
}

.iconContainer:nth-child(3) .bgIcon:hover {
    background: #F14236;
}

.iconContainer:nth-child(4) .bgIcon:hover {
    background: #FF0000;
}

.iconContainer:nth-child(5) .bgIcon:hover {
    background: linear-gradient(to bottom, #7B38AC, #F70207, #F5D800);
}

.iconContainer:nth-child(6) .bgIcon:hover {
    background: #007EBB;
}

.iconContainer:nth-child(7) .bgIcon:hover {
    background: #CC2127;
}

.bgIcon img {
    width: 1rem;
    height: 1rem;
}

.lineBetween {
    width: 1px;
    height: 1.5rem;
    background: #999999;
    margin: 0 4px;
}

.name {
    font-size: 10px;
    margin-top: 1rem;
    color: #999999;
}

