.socialMediaWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    max-width: fit-content;
    margin: 0 auto 1.5rem auto;
}

.socialMediaWrapper a {
    margin: 0 .5rem;
}

.parentIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BgIcon {
    background: #999999;
    padding: .5rem;
    border-radius: .5rem;
    transition: background .5s linear;
    margin-bottom: 1rem;
}

.BgIcon:nth-of-type(1):hover {
    transition: background 1s linear;
    background: linear-gradient(to bottom, #7DB424, #49BDCA, #0F68A0);
}

.BgIcon:nth-of-type(2):hover {
    background: #29A9EC;
}

.BgIcon:nth-of-type(3):hover {
    background: #F14236;
}

.BgIcon:nth-of-type(4):hover {
    background: #FF0000;
}

.BgIcon:nth-of-type(5):hover {
    background: linear-gradient(to bottom, #7B38AC, #F70207, #F5D800);
}

.BgIcon:nth-of-type(6):hover {
    background: #007EBB;
}

.BgIcon:nth-of-type(7):hover {
    background: #CC2127;
}

.parentIcon span {
    color: #999999;
}

.icon {
    width: 1.3rem;
    height: 1.3rem;
}

.lineBetween {
    width: 1px;
    height: 1.5rem;
    background: #999999;
    margin: 0 .5rem;
}

