.wrapper {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item {
    background-color: #F0F0F0;
    transition: background-color 0.3s;
    padding: 1.1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px) {
    .wrapper {
        flex-direction: column;
    }
}