.mainTitle {
    margin-bottom: 1.5rem !important;
}

.articleInfo, .partRight_articleInfo, .avatarName_partRight_articleInfo, .partLeft_articleInfo {
    display: flex;
    align-items: center;
}

.articleInfo {
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.partRight_articleInfo {
    justify-content: space-between;

}

.avatarName_partRight_articleInfo {
    margin-left: 3rem;
}

.partLeft_articleInfo {
}

.avatarName_partRight_articleInfo caption, .partLeft_articleInfo span {
    color: #A8A8A8;
    margin: 0 .5rem;
}

.imageAndNewContentRow {
    margin-bottom: 1.5rem;
    justify-content: space-between;
}

.imageAndNewContentRow img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.imageCol {
}

.betweenLinePart {
    padding: 0 !important;
    margin: 0 !important;
}

.betweenLine {
    display: flex;
    width: 1px;
    height: 100%;
    background: #D9D9D9;
}

.text {
    display: flex;
    text-align: justify;
    margin-bottom: .5rem !important;
}