.LinkDiv {
    max-width: fit-content;
}

.itemHeader {
    display: block;
    color: #979797 !important;
    white-space: nowrap;
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.itemHeader:hover, .activeItemHeader {
    color: #ff000f !important;
    background: none !important;
    transition: .5s;
}