@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    padding: 0;
    margin: 0;
    direction: rtl;
    font-family: "ir", sans-serif;
    font-size: 14px;
    font-size: medium;
    /*color: rgb(var(--foreground-rgb));*/
    /*background: linear-gradient(*/
    /*    to bottom,*/
    /*    transparent,*/
    /*    rgb(var(--background-end-rgb))*/
    /*  )*/
    /*  rgb(var(--background-start-rgb));*/
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    color: #fff;
    text-transform: none !important;
}

.fillPathWhite {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.fillPathBlack path {
    fill: #979797;
}

.container {
    padding: 0 10rem;
    margin: auto;
    width: 100%;
}

.border {
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
}

button .slick-arrow {
    display: none !important;
}

.mt_1-5rem {
    margin-top: 1.5rem !important;
}

.mt3rem {
    margin-top: 3rem !important;
}

.mx_3rem {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.py_0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.my_3rem {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

@media (max-width: 1024px) {
    p {
        line-height: 24px !important;
        text-align: justify !important;
    }

    .container {
        padding: 0 5rem;
    }
}

@media (max-width: 992px) {
    p {
        line-height: 24px !important;
        text-align: justify !important;
    }

    .container {
        padding: 0 1rem;
    }
}