.titleDiv {
    margin: 0 0 1rem 0 !important;
    font-size: 20px !important;
    font-weight: bolder !important;
    max-width: fit-content;
}

.textDiv {
    font-weight: 300 !important;
    margin-bottom: 1.5rem !important;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2.25rem !important;
}